@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Lato:wght@300&family=Rubik+Beastly&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    width: 20%;
    color: rgb(194, 182, 182);
    position: absolute;
    top: 28%;
    left: 43%;
}

.container h1 {
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 10px;
    padding: 13px 0;
}

.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;

}

.box input{
    font-family: 'Heebo', sans-serif;
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}

.box i{
    width: 25px;
    text-align: center;
}

.btn{
    color: rgb(201, 189, 189);
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btn:hover{
    color: purple;
    background: white;
    opacity: 0.5;
}
